body {
    background-image: url('backg.png');
    background-size: cover;
}

.row {
    text-align: center;
    flex-wrap: nowrap;
}

.game-board {
    margin-top: 20px;
    max-width: 60%;
    
}


.memory-card {
     width: 7.5em;
    height: 8em;
    background-color: yellow;
    border-radius: 0.3em;
    margin: 0.8em;
    box-shadow: 2px 0 10px #212121;
    cursor: pointer;
}


.memory-card:hover {
    border: 1px solid pink;
    box-shadow: inset 0px 0px 0px 1px pink;
    box-sizing: border-box;
}

.fa {
    font-size: xxx-large;
    margin-top: .7em;
}

@media only screen and (max-width: 600px) {
    .memory-card {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #eee;
    cursor: pointer;
}

.game-board {
    max-width: 80%;
}

.fa {
    font-size: large;
    margin-top: 2em;
}
}